<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>add_brands</servlet-name>
        <servlet-class>add_brands</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_map</servlet-name>
        <servlet-class>add_map</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_login</servlet-name>
        <servlet-class>admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminregister</servlet-name>
        <servlet-class>adminregister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>car_details</servlet-name>
        <servlet-class>car_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change_password</servlet-name>
        <servlet-class>change_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>demo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vehical_list</servlet-name>
        <servlet-class>Vehical_list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>brand_list</servlet-name>
        <servlet-class>brand_list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>map_list</servlet-name>
        <servlet-class>map_list</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_brands</servlet-name>
        <url-pattern>/add_brands</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_map</servlet-name>
        <url-pattern>/add_map</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_login</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminregister</servlet-name>
        <url-pattern>/adminregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>car_details</servlet-name>
        <url-pattern>/car_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change_password</servlet-name>
        <url-pattern>/change_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vehical_list</servlet-name>
        <url-pattern>/Vehical_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>brand_list</servlet-name>
        <url-pattern>/brand_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>map_list</servlet-name>
        <url-pattern>/map_list</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
